 <%=render "devise/shared/devise_nav" %>
<div class = "col text-center">
<div class = "  px-0 container-sm ">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class = "bg-light border border-secondary-subtle">
  <div class=" p-2 ">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control bg-light form-control-lg" %>
  </div>
<hr>
 <div  class="add-btn p-3 text-center nav-color">
     <%= f.submit "Send me reset password instructions", class: 'btn text-light px-2'%>
  </div>

<% end %>
 <div  class="p-2text-center border ">
<%= render "devise/shared/links" %>
    </div>
</div>

</div>
</div>
