<div class = "col text-center ">
  <div class = "  px-0 container-sm">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class = "bg-light border border-secondary-subtle">
        <%= render "devise/shared/error_messages", resource: resource %>
        <%=render "devise/shared/devise_nav" %>
        <div class=" p-2 ">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control bg-light form-control-lg" %>
        </div>
        <hr>
        <div class=" p-2">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" , class: "form-control bg-light  form-control-lg"%>
        </div>
      </div>

      <% end %>
      <div  class="p-2text-center border p-4">
        <%= render "devise/shared/links" %>
      </div>

  </div>
</div>
